:root {
    --accent-color: #5ea559;
    --base-color: #5ea559;
    --text-color: #5ea559;
    --input-color: #f3f0ff;
}

body {
    background-color: #4c674b;
}
img {
    width: auto; /* Preserva a largura original */
    height: 200px; /* Define a altura desejada */
    object-fit: contain; /* Ajusta como a imagem é redimensionada */
  }
  button, a.btn {
    font-size: 2000px; /* Ajuste para o tamanho desejado */
    font-weight: bold; /* Para destacar ainda mais */
    letter-spacing: 2px; /* Espaçamento opcional entre letras */
  }
  h1{
    color: #c0e6c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }